<br>
<br>
<div class='container'>
  <div class="panel panel-primary form-signin">

    <%= form_for @message do |f| %>
      <% if @message.errors.any? %>
        <div class="alert alert-success error_messages">
          <p>Form is invalid</p>
          <ul>
            <% for message in @message.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h3 class="form-signin-heading">Set A New Goal</h3>

      <div class="field">
        <%= f.text_field :title, class: 'form-control', placeholder: 'What is your goal?' %>
      </div>

      <div class="field">
        <%= f.text_area :content, cols: 5, rows: 10, class: 'form-control', placeholder: 'How you want to achieve your goal?' %>
      </div>

      <br>
      <div class="actions"><%= f.submit class: "btn btn-lg btn-primary btn-block" %></div>
    <% end %>

  </div>
</div>
