<% provide(:title, "Edit user") %>
<br>
<div class="container">
  <div class="panel panel-primary form-signin">

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-success error_messages">
          <p>Form is invalid</p>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2 class="form-signin-heading">Update Your Profile</h2>

      <div class= 'text-center'>
      <%= image_tag(current_user.image_uri, size: "100x128") %>
      </div>
      <br>
      <div class="field">
        <%= f.text_field :account_name, class: 'form-control', placeholder: 'Account Name' %>
      </div>

      <div class="field">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="field">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
      </div>

      <div class="field">
        <%= f.text_field :middle_name, class: 'form-control', placeholder: 'Middle Name' %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
      </div>

      <div class="field">
        <%= f.text_field :image_uri, class: 'form-control', placeholder: 'Image URI' %>
      </div>

      <div class="field">
        <%= f.text_field :address1, class: 'form-control', placeholder: 'Address 1' %>
      </div>

      <div class="field">
        <%= f.text_field :address2, class: 'form-control', placeholder: 'Address 2' %>
      </div>

      <div class="field">
        <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
      </div>

      <div class="field">
        <%= f.number_field :zip, class: 'form-control', placeholder: 'Zip Code' %>
      </div>

      <div class="field">
        <%= f.number_field :current_weight, class: 'form-control', placeholder: 'Current Weight(lbs)' %>
      </div>

      <div class="field">
        <%= f.number_field :goal_weight, class: 'form-control', placeholder: 'Goal Weight(lbs)' %>
      </div>

      <div class="field">
        <%= f.date_field :reach_goal_by, class: 'form-control', placeholder: 'Reach Goal By' %>
      </div>

      <div class="field">
        <%= f.number_field :height, class: 'form-control', placeholder: 'Height(inches)' %>
      </div>
      <br>
      <div class="actions"><%= f.submit class: "btn btn-lg btn-primary btn-block" %></div>
    <% end %>

  </div>
</div>

<!-- http://localhost:3000/users/edit?id=1 -->
