<div class='container'>
<br>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Schedules</div>

  <!-- Table -->
  <table class="table table-hover">
  <!-- create new schedule -->
  &nbsp;&nbsp;<%= link_to 'New', new_schedule_path, class: 'glyphicon glyphicon-bell' %>

  <thead>
    <th>Begins</th>
    <th>Ends</th>
    <th>Title</th>
    <th>Area Focus</th>
    <th>Description</th>
  </thead>

  <!-- Messages in descending order most recent ones first -->
  <% @schedules.order(id: :desc).each do |schedule| %>
        <tr>
          <td class="col-md-1"><%= schedule.start_date.strftime("%h %g %a") %></td>
          <td class="col-md-1"><%= schedule.start_date.strftime("%h %g %a") %></td>
          <td class="col-md-2"><%= schedule.title %></td>
          <td class="col-md-2"><%= schedule.area_focus %></td>
          <td class="col-md-4"><%= schedule.description %></td>
          <td class="col-md-1"><%= link_to "Edit", edit_schedule_path(schedule) %></td>
          <td class="col-md-1"><%= link_to "Destroy", schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  <% end %>
  </table>
</div>

<!-- calendar table in html -->
<section id="calendar" class='panel panel-primary text-center'>
  <h2 id="month">
    <%= link_to "<", month: last_month %>
    <%= this_month %>
    <%= link_to ">", month: next_month %>
  </h2>
  <table class='table table-bordered table-responsive'>
    <thead>
      <tr>
        <th class='text-center'>Sun</th>
        <th class='text-center'>Mon</th>
        <th class='text-center'>Tues</th>
        <th class='text-center'>Wed</th>
        <th class='text-center'>Thurs</th>
        <th class='text-center'>Fri</th>
        <th class='text-center'>Sat</th>
      </tr>
    </thead>
    <% number_of_weeks.times do |i| %>
      <tr>
        <% 7.times do |j| %>
          <td class="col-sm-1 text-left">
            <%= @current_day_number = day_number(i, j) %>
            <% if current_user.all_dates.include? Date.parse("#{@current_day_number} #{this_month}") %>
              <p>WORK OUT!</p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</section>

</div>

