
<div class="container form-signin">
  <h2 class="form-signin-heading"></h2>
  <ul class="list-group">
    <li class="list-group-item">Title: <%= @schedule.title %></li>
    <li class="list-group-item">Description: <%= @schedule.description %></li>
    <li class="list-group-item">Area Focus: <%= @schedule.area_focus %></li>
    <li class="list-group-item">Start Date: <%= @schedule.start_date %></li>
    <li class="list-group-item">End Date: <%= @schedule.end_date %></li>
    <li class="list-group-item">Frequency Interval: <%= @schedule.frequency_interval %></li>

  </ul>
</div>
